<app-nav-bar></app-nav-bar>

<!-- Form Section -->
<div class="create-user-form" *ngIf="!formSubmitted">
  <img
  src="assets/doc-portal/air-plane2.png"
  alt="Airplane"
  class="airplane-right"
  *ngIf="user.intervention" />
  <h1 class="my-4">Create a new user</h1>
  <form #userForm="ngForm">
    <!-- Email Input -->
    <input
      type="email"
      placeholder="Enter email id of your user here"
      name="email"
      [(ngModel)]="user.email"
      required
    />

    <!-- Nickname Input -->
    <input
      type="text"
      placeholder="Enter a nickname here"
      name="nickname"
      [(ngModel)]="user.nickname"
      required
    />
    <!-- Intervention Dropdown -->
    <select
      [(ngModel)]="user.intervention"
      name="intervention"
      required
    >
      <!-- (ngModelChange)="get_therapySuggestions()" -->
      <option value="" disabled hidden>Intervention</option>
      <option *ngFor="let option of interventions" [value]="option">
        {{ option }}
      </option>
    </select>
  </form>
</div>
<!-- Airplane Animation -->
  <img
    src="assets/doc-portal/air-plane1.png"
    alt="Airplane"
    class="airplane-left"
    *ngIf="!user.intervention"
  />
<div class="action-buttons">
        <button class="btn btn-primary" (click)="sendForm()">Create</button>
</div>

 <!--  <section class="therapy-suggestions" *ngIf="shouldShowTherapySection()">
    <div class="therapy-sequence">
      <h3 class="section-title">Therapy selected sequence</h3>
      <div class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions[user.intervention]">
          <div class="card-item" *ngIf="card.default_in_series || initialSequence">        
            <div class="card-content">
              <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
              <div class="card-title">
                <span>{{ card.card_name }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  
    <div class="relaxation-sequence">
      <h3 class="section-title">Relaxation activities in sequence</h3>
      <div class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions['Relaxation Activities']">
          <div class="card-item" *ngIf="card.default_in_series || initialSequence">
            <div class="card-content">
              <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
              <div class="card-title">
                <span>{{ card.card_name }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    
    <div class="assessment-sequence">
      <h3 class="section-title">Assessments in sequence</h3>
      <div class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions['Assessments']">
          <div class="card-item" *ngIf="card.default_in_series || initialSequence">
            <div class="card-content">
              <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
              <div class="card-title">
                <span>{{ card.card_name }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    
  
    <div class="action-buttons">
      <button class="btn btn-primary" (click)="sendForm()">Send email</button>
      <button class="btn btn-secondary" (click)="editseq()">Edit Sequence</button>
    </div>
  
    <div class="edit-sequence" *ngIf="editSequence && !drag_drop">
      <h3 class="section-title">Select/unselect activities <span class="subtitle">(Some have been added by default)</span></h3>
      
      <div class="therapy-activities">
        <div class="card-grid">
          <div class="card-item" 
               id="therapy"
               *ngFor="let card of therapySuggestions[user.intervention]"
               [class.selected]="card.default_in_series"
               (click)="toggleSelection(card)">
            <div class="card-header">
              <span class="therapy-name">{{ card.therapy_name }}</span>
              <div class="selection-indicator" [class.selected]="card.default_in_series"></div>
            </div>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
              <p class="card-description">{{ card.card_description }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <h3 class="section-title">Relaxation activities <span class="subtitle">(Some have been added by default)</span></h3>
      <div class="relaxation-activities">
        <div class="card-grid">
          <div class="card-item"
               *ngFor="let card of therapySuggestions['Relaxation Activities']"
               [class.selected]="card.default_in_series"
               (click)="toggleSelection(card)"
               id="relaxation">
            <div class="card-header">
              <span class="therapy-name">{{ card.therapy_name }}</span>
              <div class="selection-indicator" [class.selected]="card.default_in_series"></div>
            </div>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
              <p class="card-description">{{ card.card_description }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <h3 class="section-title">Assessments <span class="subtitle">(Some have been added by default)</span></h3>
      <div class="assessment-activities">
        <div class="card-grid">
          <div class="card-item"
               *ngFor="let card of therapySuggestions['Assessments']"
               [class.selected]="card.default_in_series"
               (click)="toggleSelection(card)"
               id="assessments">
            <div class="card-header">
              <span class="therapy-name">{{ card.therapy_name }}</span>
              <div class="selection-indicator" [class.selected]="card.default_in_series"></div>
            </div>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
              <p class="card-description">{{ card.card_description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="action-buttons">
        <button class="btn btn-tertiary" (click)="viewFinalSeq()">View Final Sequence</button>
        <button class="btn btn-quarternary" (click)="editOrder()">Edit Order</button>
      </div>
    </div>
    <div class="order-sequence" *ngIf="drag_drop && !editSequence">
      <h3 class="section-title">Drag Drop <span class="subtitle">(Some have been added by default)</span></h3>
      
      <div class="therapy-activities">
        <div cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event,user.intervention)" class="card-grid">
          <ng-container *ngFor="let card of therapySuggestions[user.intervention]">
            <div class="card-item"
                id="therapy"
                *ngIf="card.default_in_series"
                [class.selected]="card.default_in_series"
                cdkDrag
                >
              <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
              <div class="card-details">
                <h4 class="card-title">{{ card.card_name }}</h4>
              </div>
            </div>
          </ng-container>
          </div>
      </div>
  
      <h3 class="section-title">Relaxation activities <span class="subtitle">(Some have been added by default)</span></h3>
      <div class="relaxation-activities">
        <div cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event,'Relaxation Activities')" class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions['Relaxation Activities']">
          <div class="card-item"
               *ngIf="card.default_in_series"
               [class.selected]="card.default_in_series"
               id="relaxation"
               cdkDrag>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
            </div>
          </div>
        </ng-container> 
        </div>
      </div>
  
      <h3 class="section-title">Assessments <span class="subtitle">(Some have been added by default)</span></h3>
      <div class="assessment-activities">
        <div cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event,'Assessments')" class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions['Assessments']">
          <div class="card-item"
               *ngIf="card.default_in_series"
               [class.selected]="card.default_in_series"
               id="assessments"
               cdkDrag>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
            </div>
          </div>
        </ng-container>
        </div>
      </div>
      <div class="action-buttons">
        <button class="btn btn-tertiary" (click)="viewFinalSeq()">View Final Sequence</button>
      </div>
    </div>
  </section>
  --> 
<div class="user-created-container" *ngIf="formSubmitted">
  <div class="message-section">
    <h2>Your user has been created and invite has been sent</h2>
    <p class="user-details">username - {{user.email}}</p>
  </div>
  <div class="illustration">
   <img src="/assets/doc-portal/sent.png"/>
  </div>
  <button class="view-users-button" (click)="viewUser()">View users</button>
</div>
