<!-- Add at the top of user-details.component.html -->
<div *ngIf="user">
  <div class="mobile-header">
    <span class="back-icon" (click)="back()">   
      <img   src="assets/shared/Back%20mobile.svg"
              width="24px"
              height="24px"
                alt="back"
            />
              </span>
    <span class="username">{{user.nickname}}</span>
    <span (click)="edit()"><img class="edit-icon"  src="assets/doc-portal/edit-button.png"/></span>
  </div>
  <img class="not-signedup" src="assets/doc-portal/not-signedup.png" *ngIf="!signedUp && !EditButton"/>
  <div id="para" *ngIf="!signedUp && !EditButton">The user has not signed up yet.</div>
  <button class="reminder" (click)="sendReminder()" *ngIf="!signedUp && !EditButton">Send Reminder</button>
  <div class="edit" *ngIf="EditButton && !formSubmitted">
    

    <!-- Only show sections if they have content -->
    <div class="therapy-sequence" *ngIf="therapySuggestions[user.intervention]?.length">
      <h3 class="section-title">Therapy selected sequence</h3>
      <div class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions[user.intervention] || []">
          <div class="card-item" *ngIf="card.default_in_series || initialSequence">        
            <div class="card-content">
              <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
              <div class="card-title">
                <span>{{ card.card_name }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  
    <div class="relaxation-sequence" *ngIf="therapySuggestions['Relaxation Activities']?.length">
      <h3 class="section-title">Relaxation activities in sequence</h3>
      <div class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions['Relaxation Activities'] || []">
          <div class="card-item" *ngIf="card.default_in_series || initialSequence">
            <div class="card-content">
              <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
              <div class="card-title">
                <span>{{ card.card_name }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    
    <div class="assessment-sequence" *ngIf="therapySuggestions['Assessments']?.length">
      <h3 class="section-title">Assessments in sequence</h3>
      <div class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions['Assessments'] || []">
          <div class="card-item" *ngIf="card.default_in_series || initialSequence">
            <div class="card-content">
              <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
              <div class="card-title">
                <span>{{ card.card_name }}</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
    
    <div class="action-buttons">
      <button class="btn btn-secondary" (click)="editseq()">Edit Sequence</button>
    </div>
    <div class="edit-sequence" *ngIf="editSequence && !drag_drop">
      <h3 class="section-title">Select/unselect activities <span class="subtitle">(Some have been added by default)</span></h3>
      
      <div class="therapy-activities">
        <div class="card-grid">
          <div class="card-item" 
               id="therapy"
               *ngFor="let card of therapySuggestions[user.intervention] || []"
               [class.selected]="card.default_in_series"
               (click)="toggleSelection(card)">
            <div class="card-header">
              <span class="therapy-name">{{ card.therapy_name }}</span>
              <div class="selection-indicator" [class.selected]="card.default_in_series"></div>
            </div>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
              <p class="card-description">{{ card.card_description }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <h3 class="section-title">Relaxation activities <span class="subtitle">(Some have been added by default)</span></h3>
      <div class="relaxation-activities">
        <div class="card-grid">
          <div class="card-item"
               *ngFor="let card of therapySuggestions['Relaxation Activities']"
               [class.selected]="card.default_in_series"
               (click)="toggleSelection(card)"
               id="relaxation">
            <div class="card-header">
              <span class="therapy-name">{{ card.therapy_name }}</span>
              <div class="selection-indicator" [class.selected]="card.default_in_series"></div>
            </div>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
              <p class="card-description">{{ card.card_description }}</p>
            </div>
          </div>
        </div>
      </div>
  
      <h3 class="section-title">Assessments <span class="subtitle">(Some have been added by default)</span></h3>
      <div class="assessment-activities">
        <div class="card-grid">
          <div class="card-item"
               *ngFor="let card of therapySuggestions['Assessments']"
               [class.selected]="card.default_in_series"
               (click)="toggleSelection(card)"
               id="assessments">
            <div class="card-header">
              <span class="therapy-name">{{ card.therapy_name }}</span>
              <div class="selection-indicator" [class.selected]="card.default_in_series"></div>
            </div>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
              <p class="card-description">{{ card.card_description }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="action-buttons">
        <button class="btn btn-tertiary" (click)="viewFinalSeq()">View Final Sequence</button>
        <button class="btn btn-quarternary" (click)="editOrder()">Edit Order</button>
      </div>
    </div>
    <div class="order-sequence" *ngIf="drag_drop && !editSequence">
      <h3 class="section-title">Drag Drop <span class="subtitle">(Some have been added by default)</span></h3>
      
      <div class="therapy-activities">
        <div cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event,user.intervention)" class="card-grid">
          <ng-container *ngFor="let card of therapySuggestions[user.intervention]">
            <div class="card-item"
                id="therapy"
                *ngIf="card.default_in_series"
                [class.selected]="card.default_in_series"
                cdkDrag
                >
              <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
              <div class="card-details">
                <h4 class="card-title">{{ card.card_name }}</h4>
              </div>
            </div>
          </ng-container>
          </div>
      </div>
  
      <h3 class="section-title">Relaxation activities <span class="subtitle">(Some have been added by default)</span></h3>
      <div class="relaxation-activities">
        <div cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event,'Relaxation Activities')" class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions['Relaxation Activities']">
          <div class="card-item"
               *ngIf="card.default_in_series"
               [class.selected]="card.default_in_series"
               id="relaxation"
               cdkDrag>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
            </div>
          </div>
        </ng-container> 
        </div>
      </div>
  
      <h3 class="section-title">Assessments <span class="subtitle">(Some have been added by default)</span></h3>
      <div class="assessment-activities">
        <div cdkDropList
        cdkDropListOrientation="horizontal"
        (cdkDropListDropped)="drop($event,'Assessments')" class="card-grid">
        <ng-container *ngFor="let card of therapySuggestions['Assessments']">
          <div class="card-item"
               *ngIf="card.default_in_series"
               [class.selected]="card.default_in_series"
               id="assessments"
               cdkDrag>
            <img class="card-image" [src]="'https://api3.treadwill.org:8004/media/' + card.card_image" [alt]="card.card_name" />
            <div class="card-details">
              <h4 class="card-title">{{ card.card_name }}</h4>
            </div>
          </div>
        </ng-container>
        </div>
      </div>
      <div class="action-buttons">
        <button class="btn btn-tertiary" (click)="viewFinalSeq()">View Final Sequence</button>
      </div>
    </div>
    <div class="additional-note">
      <h3 class="section-title">Additional note to add in the reminder email</h3>
      <textarea [(ngModel)]="user.additional_notes" rows="10" cols="42"></textarea>
      <div class="action-buttons">
        <button class="btn btn-primary">Send Email</button>
    </div>
  </div>
  </div>
